<div class="container-gnd">
  <% tresors.each do |tresor| %>
    <div class="cards">
      <% if tresor.prive %>
        <div class="card">
          <div class="card-body" style="background-image: url('<%= image_path 'lock.jpg'%>')">
          </div>
          <div class="card-footer">
            <div class="p-tresor-titre">
              <p><%= link_to tresor.indice, tresor_path(tresor) %></p>
            </div>
            <div class="controls">
              <p class="p-username">@username du pirate</p>
            </div>
          </div>
        </div>

      <% else %>

        <div class="card">
          <div class="card-body" style="background-image: url('<%= cl_image_path tresor.photo %>')">
          </div>
          <div class="card-footer">
            <div class="p-tresor-titre">
              <p><%= link_to tresor.titre, tresor_path(tresor) %></p>
            </div>
            <div class="controls">
              <p class="p-username">@username du pirate</p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
