<% tresors.each do |tresor| %>
  <div class="cards">
    <% if tresor.prive %>
      <div class="card">
        <div class="card-body">
          <%= image_tag 'lock.jpg'%>
        </div>
        <div class="card-footer">
          <div>
            <%= link_to tresor.indice, tresor_path(tresor), class: 'p-tresor-titre' %>
          </div>
          <div class="controls">
            <p class="p-username">@username du pirate</p>
          </div>
        </div>
      </div>
    <% else %>
      <div class="card">
        <div class="card-body">
          <%= cl_image_tag tresor.photo %>
        </div>
        <div class="card-footer">
          <div>
            <%= link_to tresor.titre, tresor_path(tresor), class: 'p-tresor-titre' %>
          </div>
          <div class="controls">
            <p class="p-username">@username du pirate</p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
