
<h1 class="h1-index">Bienvenue dans le crew <span class="title-crew">#LeWagon</span> matelot !</h1>
  <p class="p-index">Découvre des trésors dévoilés par d'autres pirates. Part à leur conquête ou dévoile les tiens pour savoir combien tu peux en tirer</p>

<%= render "tresors/list", tresors: @tresors %>

