<div class="container-tresor">
  <% content_for :meta_title, "Le Crew #{@crews} à rejoind Gold Next Door" %>
  <% content_for :meta_description, "Le nouveau crew de Gold Next Door fait beaucoup parler de lui sur les internets" %>
  <% content_for :meta_image, image_path('logo-gnd.png') %>
  <div class="text-center">
    <h1 id='nom-crew'>#Crews</h1>
  </div>
  <% @crews.each do |crew| %>
    <% if crew.prive == false %>
    <h2><%= link_to  crew.nom, crew_path(crew) %></h2>
    <p><%= crew.pirates.all ? "Contient #{crew.pirates.count} pirates" : 'Ne contient plus de pirate...' %></p>
  <% end %>
  <% end %>
  <p>Il y a <%= @crews.where(prive: true).count %> Crews privados sur Gold Next Door...</p>

  <div class="form-actions text-center">
    <%= link_to "Créer un Crew", new_crew_path, class: 'btn btn-primary' %>
  </div>

</div>
