<% content_for :meta_title, "Tous les Crews de Gold Next Door" %>
<% content_for :meta_description, "Découvre tous les Crews présents sur Gold Next Door. Rejoins tes favoris !" %>
<% content_for :meta_image, image_path('Gold_Next_Door.png') %>

<%= render "crews/nav_index", tab: 1 %>
<div class="wide_buttons">
  <%= link_to "Crée un Crew ⚓", new_crew_path, class: 'button yellow' %>
</div>
<% if @crew_list.empty? %>
  <div class="crew-global-notif">
    <p>T'es dans aucun Crew pirate !</p>
    <div class="wide_buttons">
      <%= link_to "Adopte un crew", crews_decouvrir_path, class: 'button yellow' %>
    </div>
  </div>
<% else %>
  <%= render "crews/crew_list", crews: @crew_list %>
<% end %>

