<% content_for :meta_title, "Rejoins le Crew #{@crew.nom} sur Gold Next Door" %>
<% content_for :meta_description, "Bienvenue matelot ! Envie de rejoindre cet équipage ?" %>
<% content_for :meta_image, image_path('Gold_Next_Door.png') %>

<%= render "crews/header", crew: @crew, crew_pirate: @crew_pirate %>
<% if @crew.pirates.exists?(current_pirate.id) || !@crew.prive %>
  <%= render "crews/nav", tab: 1, crew: @crew %>
  <%= render "tresors/list", tresors: @crew.tresors %>
<% else %>
  <p class="crew-global-notif notif-closed-emoji">Ce crew est privé</p>
<% end %>
