.details, .card{
  img{

  }

  h1{
  }
  p{
  }
  .infos{

  }
  .vendeur{

  }
  .mark-vendu{
    color: #FFF;
    background-color: $saumon;
    padding-left: 5px;
    padding-right: 5px;
  }
  .indice-reveal{
    font-style: italic;
  }
}
