.details{
  padding-bottom: 10px;
  margin-bottom: 20px;
  background-color: white;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
  img{
    display: block;
    max-width:374px;
    max-height:374px;
    width: auto;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }

  h1{
    font-size: 22px;
    margin-top: 18px;
    margin-bottom: 12px;
  }
  p{
    font-weight:lighter;
    font-size: 18px;
  }
  .infos{
    padding: 0 20px 10px 20px;
  }
  .vendeur{
    display: flex;
    background-color: $saumon;
    padding: 5px 5px;
    margin-top: 20px;
  }
  .vendeur h2{
    font-size: 18px;
    font-style: italic;
    font-weight: normal;
    color: white;
    margin: 0;
  }
  .avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline;
  }
  .mark-vendu{
    color: #FFF;
    background-color: $saumon;
    padding-left: 5px;
    padding-right: 5px;
  }
  .indice-reveal{
    font-size: 16px;
    font-style: italic;
  }
  .crews-list-details a{
    font-size: 15px;
    color: $saumon;
  }
}

.details-ferme{
  background-color: $jaune;
  h1{
    color: $noir;
  }
}
