.details{
  padding-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  width: 100%;
  img{
    display: block;
    max-width:414px;
    max-height:414px;
    width: auto;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }

  h1{
    font-size: 22px;
    margin-top: 14px;
    margin-bottom: 12px;
  }
  p{
    font-weight:lighter;
    font-size: 18px;
  }
  .infos{
    padding: 0 20px 10px 20px;
  }
  .vendeur{
    font-size: 16px;
  }
  .mark-vendu{
    color: #FFF;
    background-color: $saumon;
    padding-left: 5px;
    padding-right: 5px;
  }
  .indice-reveal{
    font-size: 16px;
    font-style: italic;
  }
}
