.gnd_custom {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 17px;
}

.header-form-tresor {
  border: solid 1px;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 25px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px;
}
