<div class="container col-xs-12 col-sm-4 col-sm-offset-4">
  <div class='text-center'>
   <!--  <%= simple_form_for(@crew_pirates) do |f| %>
      <%= f.submit "Ajouter Ce Pirate à Mon Crew", class: 'btn btn-primary' %> -->
      <p>coucou</p>
    <% end %>
  </div>
</div>
