  <% content_for :meta_title, "Rejoins le Crew #{@crew.nom} sur Gold Next Door" %>
  <% content_for :meta_description, "Bienvenue matelot ! Envie de rejoindre cet équipage ? Dans ton campus ou entre amis, qui sera le meilleur négociateur ?" %>
  <% content_for :meta_image, image_path('Gold_Next_Door.png') %>

<div class="container col-xs-12 col-sm-4 col-sm-offset-4">
  <div class='text-center'>
    <%= simple_form_for([@crew, @crew_pirate]) do |f| %>
      <%= text_field_tag :crew_password %>
      <%= f.submit "Rejoindre #{@crew.nom}", class: 'btn alert-crew' %>
    <% end %>
  </div>
</div>

