<div class="container col-xs-12 col-sm-4 col-sm-offset-4">
  <div class='text-center'>
    <%= simple_form_for([@crew, @crew_pirate]) do |f| %>
      <%= text_field_tag :crew_password %>
      <%= f.submit "Rejoindre #{@crew.nom}", class: 'btn alert-crew' %>
    <% end %>
  </div>
</div>

