
#abordage_type_abordage{
  display: flex;
  flex-wrap: wrap;
  width:100%;
  justify-content:space-around;
}

.init-class {
  input[type="radio"] ~ img {
    border: 3px solid;
    border-radius: 50%;
    border-color: white;
    opacity: 1 !important;
  }
}

.radio_choice_type{
  width: 120px;
  height: 120px;
  display:block;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 0;

  input[type="radio"]{
    display: none;
  }

  label{
    width:100%;
    height:100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-size: 16px;
  }

  input[type="radio"] ~ img {
    border: 3px solid;
    border-radius: 50%;
    border-color: white;
    opacity: 0.6;
    transition: opacity 0.3s ease-out;
    transition: border-color 0.4s ease-out;
  }

 input[type="radio"]:checked ~ img {
    border: 3px solid;
    border-radius: 50%;
    border-color: $saumon;
    opacity: 1;
  }
}

.drinks{
  background-image: asset-url("drinks.svg");
}

.free{
  background-image: asset-url("free.svg");
}

.troc{
  background-image: asset-url("troc.svg");
}

.euros{
  background-image: asset-url("euros.svg");
}

