.panel-action-crew {
  border: 2px solid blue;

}
.action-button {

}
#nom-crew {
  font-size: 2.2em;
  text-align: center;
  word-break: break-word;
}

#membre-crew {
  border-bottom: 4px solid $jaune;
  width: 30%;
}

.card-crew {
  width: 300px;
  margin: 10px;
  background-size: cover !important;
  background-position: center;
  color: $jaune;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  transition: all 0.3s ease;
  margin-bottom: 20px;
  border-radius: 16px;
  background-color: white;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 2px;
  a {
    font-size: 18px;
    color: $noir;
  }

  h2 {
    margin-bottom: 10px;
    text-align: left;
    padding-top: 15px;
  }
}

.h1-index-crew {
  font-size: 26px;
  margin-top: 9px;
  margin-bottom: -6px;
  color: $noir;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
}

.label-crew-index {
  font-size: 14px;
  color: #696969;
  font-weight: 100;
  text-align: center;
  margin-top: 18px;
}

.ou-crew-index {
  text-align: center;
}

.nombre-dans-crew {
  font-size: 16px;
  font-weight: 100;
  font-style: italic;
}

.part-of-crew {
  font-size: 15px;
  color: green;
}

.not-part-of-crew {
  font-size: 15px;
  color: $saumon;
}

.h2-crew-card {
  font-size: 18px;
  color: #252525;
  word-break: break-word;
}

.break-word {
    word-break: break-word;
}
.crew-header{
  text-align: center;
  margin-bottom: 24px;
  word-break: break-word;
  h1{
    font-size: 24px;
    margin-top: 0;
    background-color: $saumon;
    padding: 8px;
    color: white;
  }
  .mini_buttons{
    text-align: right;
  }
}

.crew-prive-name{
  background-image: asset-url('ferme.svg');
  background-repeat: no-repeat;
  background-position: center right 10px;
  background-size: auto 50%;
}

.crew-prive-notif{
  padding-top: 130px;
  font-size: 24px;
  text-align: center;
  background-image: asset-url('ferme.svg');
  background-repeat: no-repeat;
  background-color: white;
  height: 400px;
  background-size: 20% auto;
  background-position: center 180px;
}

.crew-pirate{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: $medium-grey;
  .avatar{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 10px;
  }
  .tresors-per-pirate{
    color: $soft-grey;
    font-style: italic;
    margin-left: 12px;
  }

}
