.panel-action-crew {
  border: 2px solid blue;

}
.action-button {

}
#nom-crew {
  font-size: 2.2em;
  text-align: center;
  border-bottom: 4px solid $saumon;
}

#membre-crew {
  border-bottom: 4px solid $jaune;
  width: 30%;
}
