.container-gnd{
  margin-top: 85px;
  margin-bottom: 65px;
}
.padded {
  padding-top: 80px;
  padding-bottom: 140px;
  background-color: $noir;
}

h1, h2, h3, h4, h5, h6 {
  color: $medium-grey;
}

p{
  color: $soft-grey;
}
