html { height: 100%; overflow:auto; }
body { height: 100%; }

.container-gnd{
  margin-top: 52px;
  margin-bottom: 65px;
  padding-left: 0;
  padding-right: 0;
}
.padded {
  padding-top: 80px;
  padding-bottom: 140px;
  background-color: $noir;
}

h1, h2, h3, h4, h5, h6 {
  color: $medium-grey;
}

p{
  color: $soft-grey;
}


h2{
  font-size: 24px;
}

h3{
  font-size: 18px;
}
