html { height: 100%; overflow:auto; }
body { height: 100%; }

.container-gnd{
  margin-top: 110px;
  margin-bottom: 120px;
}
.padded {
  padding-top: 80px;
  padding-bottom: 140px;
  background-color: $noir;
}

h1, h2, h3, h4, h5, h6 {
  color: $medium-grey;
}

p{
  color: $soft-grey;
}


h2{
  font-size: 24px;
}

h3{
  font-size: 18px;
}

.container-tresor {
  margin-left: 30px;
  margin-right: 30px;
  padding: 22px;
  margin-top: 5px;
}

.wide_buttons .button{
  width: 100%;
  display: block;
  float: left;
  border-radius:3px;
  margin: 10px 0px 10px 0px;
  padding:15px 0px;
  text-align:center;
  text-decoration:none;
  font: 16px "Montserrat";
  color: $noir;
  border-color: #f1c40f;

}
.button:active{
  position:relative;
  top:6px;
}

.button:after{
  box-shadow:0px 5px 15px 5px rgba(0,0,0,0.3);
}

.yellow{
  box-shadow: 0px 6px #f39c12;
  background: #f1c40f !important;
}
.yellow:active{
  box-shadow: 0px 0px #f39c12;
  background: #f1c40f !important;
  opacity: 1 !important;
}
