
.pourparlers-list{
  list-style: none;
  padding-left: 0;
  width: 100%;
  text-align: left;
  .status-container{
    margin-top:0;
    border-top:none;
    border-bottom: 1px solid $soft-grey;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 30px;
  }
  .status-item{
    width: 38px;
    height: 38px;
  }
}

.pourparler{
  width: 100%;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  em{
    color: $soft-grey;
    font-size: 14px;
  }
  .content{
    flex-grow: 2;
    margin-left: 16px;
  }
  .abordage-global_status{
    flex-grow: 2;
    margin-left: 16px;
  }
  .mini-emoji{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 4px;
    margin-top: -4px;
  }
  .abordage-status{
    background-color: white;
    display: inline-block;
    height: 60px;
    width: 60px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
  }
  .link-tresor{
    display: inline-block;
    background-color: $saumon;
    color: white;
    text-align: center;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
