.picture {
  display: flex;
  justify-content:space-around;
}

.pirate_photo {
  position: relative;
  overflow: hidden;
  padding: 5px;
  margin-top: 20px;
  margin-right: 4px;
  width: 90px;
  height: 80px;
  input{
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translate(-300px, 0) scale(4);
    direction: ltr;
    cursor: pointer;
  }
}

.avatar-profile {
  border-radius:80%;
}
