<div class="footer text-inline">
  <div class="decouvir">
    <p>(#footer)Découvrir</p>
  </div>
  <div class="tresor">
    <p>Trésor</p>
  </div>
  <div class="pourpalers">
    <p>Pourparlers</p>
  </div>
</div>
