<div class="footer text-inline">
  <div class="decouvrir">
    <%= image_tag "telescope2.png", class: 'margin-footer', height: 60 %>
    <p class="footer-text">Découvrir</p>
  </div>
  <div class="tresor">
    <%= image_tag "bouton-principal5.png", class: 'margin-footer btn-principal', height: 110 %>
  </div>
  <div class="pourparlers">
    <%= image_tag "sword2.png", class: 'margin-footer', height: 60 %>
    <p class="footer-text">Pourparlers</p>
  </div>
</div>
