<ul id="messages">
  <% if abordages.empty? %>
    <p class="realign">T'es le premier ici !!</p>
  <% else %>
      <form>
      <% abordages.each do |abordage| %>
        <%= render "abordages/list_item", abordage: abordage, active: active %>
      <% end %>
      </form>
  <% end %>
</ul>
