<% if abordages.empty? %>
  <p>T'es le premier ici !!</p>
<% else %>
  <ul id="messages">
    <% abordages.each do |abordage| %>
      <%= render "abordages/list_item", abordage: abordage %>
    <% end %>
  </ul>
<% end %>
