<% if abordages.empty? %>
  <p class="realign">T'es le premier ici !!</p>
<% else %>
  <ul id="messages">
    <form>
    <% abordages.each do |abordage| %>
      <%= render "abordages/list_item", abordage: abordage, active: active %>
    <% end %>
    </form>
  </ul>
<% end %>
