  <% content_for :meta_title, "Pourparlers - négocie sur Gold Next Door" %>
  <% content_for :meta_description, "Bienvenue matelot ! Démarre les négociations avec ton Crew sur Gold Next Door." %>
  <% content_for :meta_image, image_path('Gold_Next_Door.png') %>

<h1>Pourparlers</h1>
<h2>Mes traques</h2>
<h2>Propositions</h2>
<h2>Mes trolls</h2>

<div id="abordages-conteneur">
</div>
