.details{
  margin-bottom: 20px;
  background-color: white;
  img{

  }

  h1{
    font-size: 22px;
    margin-top: 8px;
    margin-bottom: 12px;
  }
  p{
    font-weight:lighter;
    font-size: 18px;
  }
  .infos{
    padding: 0 10px 10px 10px;

  }
}
