#messages {
  list-style:none;
  padding-left: 0;
}

.message{
  h2{
    font-size: 18px;
    margin-bottom: 0;
  }
  p{
    margin-left: 34px;
    margin-top: 0;
    font-weight: lighter;
    letter-spacing: 1;
  }
  em{
    color: $soft-grey;
  }
  .avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid white;
  }

  .message-type{
    width: 26px;
    height: 26px;
    float: left;
    margin-left: -27px;
    margin-top: -8px;
    border-radius: 50%;
  }
}
