#messages, .messages {
  list-style:none;
  padding-left: 0;
}

.message{
  margin: 0;
  padding: 0;
  h2{
    font-size: 17px;
    margin-top: 0;
    margin-bottom: 0;
  }
  p{
    font-size: 16px;
    margin-top: 0;
    font-weight: lighter;
    letter-spacing: 1;
  }
  em{
    color: $soft-grey;
  }
  .avatar, .message-avatar{
    width: 60px;
    height: 60px;
  }
  .message-content{
    flex-grow: 2;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 5px;
  }
  .message-type{
    width: 30px;
    height: 30px;
  }
}

.message label{
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px 0 0 0;
  padding: 9px 7px 1px 1px;
}

.vendu li{
  background-color: white;
  margin-bottom: 45px;
}

.message .btn-accept{
  display:block;
  width: 100%;
  font-size: 16px;
  border-bottom: 1px solid $saumon;
  padding: 4px;
  text-align: center;
  margin-top: 0;
  color: $saumon;
}

.message input[type="radio"]{
    display: none;
}


.message input[type="radio"] ~ * {
  background-color: #f4f4f4;
  transition: background-color 0.3s ease-out;
}

.message input[type="radio"]:checked ~ * {
  background-color: #FFF;
}

.message input[type="radio"] ~ .btn-accept {
  display: none;
}

.message input[type="radio"]:checked ~ .btn-accept {
  display: block;
}


