.container-profile {
  text-align: center;

  h2 {
    color: $saumon;
    font-size: 25px;
    margin-bottom: 12px;
  }
}

.flexbox-profil-updated {
  display: flex;
  justify-content: space-around;
}

.profil-pseudo {
  text-align: center;
}

.profil-mail {
  text-align: center;
}

.form-group .file {
  padding: 10px;
}

.flexbox-profil-form {
  display: flex;
  justify-content:center;
}

#sans-ul {
  margin-left: -33px;
  list-style-type: none;
  text-align: center;
}

